main {
  display: flex;
  width: auto;
  height: 75vh;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background: #8BC3AC;
}

.card{
  padding: 15px;
  border: 1px solid purple;
  border-radius: 8px;
  background: #2E3A49;
}

.quote-container{
  background: #322E43;
  color: white;
  padding: 16px;
  width: 500px;
  height: 120px;
  display: flex;
  align-items: start;
  justify-content: center;
  border-radius: 8px;
  flex-direction: column;
}

.button-container{
  display: flex;
  width: 500px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  padding: 10px 15px;
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  background: #CFDBAC;
}

button:hover{
  background: #CFDBDD;
}
